{% extends "voluntariado/base.html" %}

{% load static %}


{% block content %}
<div class="container">
  <div class="intro">
    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" id="empleado" src="/static/voluntariado/img/voluntariada.jpg" alt="">
    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
      <h2 class="section-heading mb-4">
        Sé tú el cambio que quieres ver el mundo
      </h2>
      <p class="mb-0">Gracias por donar, es muy importante para nosotros seguir creciendo y con tu ayuda eso se nos haría mucho mas fácil. Todo lo donado será utilizado exclusivamente para ayudar a las personas vulnerables en esta época de pandemia . ¡Muchas gracias! </p>
    </div>
  </div>
</div>
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">En Argentina #VoluntariosEnAccion
              para las familias que más lo necesitan</span>
          </h2>
          <div>
            <img src="/static/voluntariado/img/transferir.png">
            <p class="mb-0">Alias:voluntariosArg</p>
            <p class="mb-0">CBU:000000310504600116543</p>
            <img src="/static/voluntariado/img/telefono.png">
            <p class="mb-0">Por telefono: 0800-858588</p>
            <p class="mb-0">(Llamada gratuita)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}