{% extends "voluntariado/base.html" %}

{% load static %}


{% block content %}

 <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" id=empleado src="{% static 'voluntariado/img/voluntariodelmes.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >

            <span class="section-heading-upper">Voluntario del Mes</span>
            <span class="section-heading-lower">Armando, Ruiz</span>

          </h2>

          <p class="mb-0">"Comence ayudando a una vecina que tenia miedo de salir de su casa por el virus. Hacia las compras y se las dejaba en su puerta.Pense que tal vez ella no seria la unica en esta situacion asi que me propuse ayudar al mayor numero de personas posibles...Asi llegue hasta esta pagina"</p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Favor 1</span>
                <span class="section-heading-lower">" Titulo"</span>
              </h2>
              <p class="mb-0">"Me llamo Alicia. Recien empece como voluntaria en la pagina. Una amiga me conto sobre este proyecto y quise ayudar.Me parece muy buena la idea de poder ayudar a otras personas que tal vez no esten en las mismas condiciones que yo como para poder salir a la calle." </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Favor 2</span>
                <span class="section-heading-lower">Titulo</span>
              </h2>
              <p class="mb-0">"Me llamo Victor y soy maestro de matematicas. Empece como voluntario hace un tiempo y ayudo con lo que puedo. Por lo general hacemos videollamadas con un grupo de chicos que cursan la carrera de licenciatura en sistemas y les estoy dando una mano con la parte matematica...Hacemos lo que podemos para llevar un poco de tranquilidad a nuestros semejantes" </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Favor 3</span>
                <span class="section-heading-lower">Titulo</span>
              </h2>
              <p class="mb-0">"Me llamo Matilda y soy profesora de artes. Algunas veces a la semana doy clases gratis online para ayudar a la gente a distenderse un poco. Tambien suelo hacerle las compras a unos vecinos del barrio." </p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}