{% extends "voluntariado/base.html" %}

{% load static %}


{% block content %}

 <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'voluntariado/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Cadena de favores</span>
            <span class="section-heading-lower">Hoy por ti, mañana por mi</span>
          </h2>
          <p class="mb-3">Un favor por otro favor, hace al mundo un lugar mejor (?.</p>
          <p>Voluntarios: {{ num_voluntarios}}</p>
          <p>Favores: {{ num_favores }}</p>
          <p>Aún debemos realizar: {{ num_faltantes }} favores, necesitamos tu ayuda</p>
          <p><a href="registrar_voluntario">Ingresa aquí</a></p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">confianza</span>
                <span class="section-heading-lower">accion</span>
              </h2>
              <p class="mb-0">esta frase describe la acción de hacer una buena obra para alguien, con la intención de que esa persona haga algo bueno por otra y así sucesivamente. Creando una cadena de buenas obras. La “Cadena de Favores” se inició gracias a una película basada en el libro “Pay It Forward” de Catherine Ryan Hyde.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}