{% extends "voluntariado/base.html" %}

{% load static %}


{% block content %}

<form class="form" method="POST">
    {% csrf_token %}
    {{val}}
    <br>
    {{usuario}}
    {{contrasenia}}
    {{num_personas}}
     {{pass}}
    <i id="icono" class="far fa-user fa-4x"></i><h4 id="h2">Iniciar sesión</h4><hr id="hr"><br>
 
    <div class="form-group">
    <label class="label">
        <span class="text-nombre"> USUARIO</span>
    </label>
    <input class="input" type="email" class="form">
  </div><br>
  <div class="form-group">
    <label class="label">
        <span class="text-nombre">CONTRASEÑA</span>
    </label>
    <input class="input" type="password" class="form">
  </div>
  <button id="button1" type="button" class="btn btn-primary">Login</button><br><br>
    <a href="{% url 'registro'%}"> Todavia no tiene cuenta? Presione aqui!</a></button>

<hr>
</form>
{% endblock %}
